<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 custom-app-dropdown">
            <app-basic-dropdown></app-basic-dropdown>
        </div>
        <div class="col-xl-6">
            <app-rounded-dropdown></app-rounded-dropdown>
        </div>
        <div class="col-sm-12 col-xl-12">
            <app-split-dropdown></app-split-dropdown>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-heading-dropdown></app-heading-dropdown>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-input-type-dropdown></app-input-type-dropdown>
        </div>
        <div class="col-xl-4 col-sm-6">
            <app-dark-dropdown></app-dark-dropdown>
        </div>
        <div class="col-sm-6 unique-dropdown-custom">
            <app-unique-dropdown></app-unique-dropdown>
        </div>
        <div class="col-lg-6">
            <app-justify-contents-dropdown></app-justify-contents-dropdown>
        </div>
        <div class="col-lg-6 alignments-dropdown-custom">
            <app-alignments-dropdown></app-alignments-dropdown>
        </div>
        <div class="col-xl-6 helper-card-custom">
            <app-helper-card-dropdown></app-helper-card-dropdown>
        </div>
        <div class="col-md-6">
            <app-divider-dropdown></app-divider-dropdown>
        </div>
        <div class="col-md-6 dropdown-sizing-custom">
            <app-sizing-dropdown></app-sizing-dropdown>
        </div>
    </div>
</div>
